.main {
  display: flex;
}

.main .video {
  width: 50%;
  position: relative;
  padding: 1em;
}



.main .video .local-video {
  width: 25%;
  position: absolute;
  right: 2em;
  bottom: 2em;
  border-style: solid;
  border-width: 2px;
}


.main .video .remote-video {
  width: 100%;
  border-style: solid;
  border-width: 2px;
}



.main .status {
  width: 50%;
}

.status ul {
  list-style-type: none;
}

.status .ok {
  color: green;
}

.status .ok:before {
  content:'✓';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #green;
}


.status .error {
  color: red;
}

.status .error:before {
  content:'❌';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #red;
}
