
.nav {
  grid-row-start: 1;
  grid-row-end: 2;
}

.cockpit {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  justify-items: stretch;
  align-items: stretch;
}

.cockpit .remote-video {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: -2;
}

.cockpit .local-video {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  z-index: 100;
}



.cockpit .movement-control {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;

  border-style: none;
  border-width: 10px;
  border-color: brown;
}

.cockpit .dashboard {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: -2;
  grid-row-end: -1;
}

.cockpit .status {
  position: fixed;
}

.cockpit .status.no-errors {
  width: 1em;
  height: 1em;
  overflow: hidden;
  background-color: green;
}

.cockpit .status.no-errors:hover,
.cockpit .status.has-errors {
  width: 20em;
  height: auto;
  background-color: white;
}


.cockpit .status h3 {
  margin: 0;
}

.cockpit .status.no-errors h3 {
  color: green;
}

.cockpit .status.has-errors h3 {
  color: red;
}

.cockpit .status ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.status .ok {
  color: green;
}

.status .ok:before {
  content:'✓';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #green;
}


.status .error {
  color: red;
}

.status .error:before {
  content:'❌';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #red;
}


