:root {
  --video-width: 75%;
  --movement-controls-width: calc(100% - var(--video-width));
}


.main {
  display: flex;
}

.main .video {
  position: relative;
}

.is-controller .main .video {
  width: var(--video-width);
}

.is-robot .main .video {
  width: 100%;
  position: relative;
}


.main .video .local-video {
  width: 25%;
  position: absolute;
  right: 2em;
  bottom: 2em;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}


.main .video .remote-video {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.main .status {
  position: fixed;
}

.main .status.no-errors {
  width: 1em;
  height: 1em;
  overflow: hidden;
  background-color: green;
}

.main .status.no-errors:hover,
.main .status.has-errors {
  width: 20em;
  height: auto;
  background-color: white;
}


.main .status h3 {
  margin: 0;
}

.main .status.no-errors h3 {
  color: green;
}

.main .status.has-errors h3 {
  color: red;
}

.main .status ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.status .ok {
  color: green;
}

.status .ok:before {
  content:'✓';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #green;
}


.status .error {
  color: red;
}

.status .error:before {
  content:'❌';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #red;
}


.movement-control-parent {
  width: var(--movement-controls-width);
}

.movement-controls-parent > div {
  padding-bottom: 75%;
  background: gold;
}
