#root  {
}

* {box-sizing: border-box;}


.robot-display {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  height: 100vh;
  width: 100vw;

  justify-items: stretch;
  align-items: stretch;
}

.robot-display .remote-video {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.robot-display .local-video {
  grid-column-start: -2;
  grid-column-end: -1;
  grid-row-start: -3;
  grid-row-end: -1;
  z-index: 100;
}




.robot-display .status {
  position: fixed;
}

.robot-display .status.no-errors {
  width: 1em;
  height: 1em;
  overflow: hidden;
  background-color: green;
}

.robot-display .status.no-errors:hover,
.robot-display .status.has-errors {
  width: 20em;
  height: auto;
  background-color: white;
}


.robot-display .status h3 {
  margin: 0;
}

.robot-display .status.no-errors h3 {
  color: green;
}

.robot-display .status.has-errors h3 {
  color: red;
}

.robot-display .status ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.status .ok {
  color: green;
}

.status .ok:before {
  content:'✓';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #green;
}


.status .error {
  color: red;
}

.status .error:before {
  content:'❌';
  display:inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  color: #red;
}


